<div class="container">
  <header>
    <h1>Joshmar Jaham</h1>
    <p>BSIT - 3B</p>
  </header>

  <section class="about">
    <h2>About Me</h2>
    <p>
      I am Joshmar Jaham, a third-year Bachelor of Science in Information Technology student at Eastern Visayas State University, Dulag Campus. 
      Dance and choreography are my passion-I love the energy, the creativity, and the way it connects people.  When I'm not dancing, you can find me on the basketball court, enjoying the thrill of the game.
    </p>
  </section>

  <section class="contact">
    <h2>Contact</h2>
    <p>Phone: 09283727964/09216709149</p>
    <p>Email: joshmarjaham321'gmail.com</p>
    <p>Facebook: Joshmar Jaham</p>
  </section>

  <footer>
    <p>© 2024 Jaham, Joshmar</p>
  </footer>